# App
VITE_APP_PRODUCTION_DOMAIN=https://korru.app
VITE_APP_BASE_URL=/
VITE_APP_NAME=Korru
VITE_APP_SLOGAN_1=The world largest
VITE_APP_SLOGAN_2=web app catalog!

# Theme
VITE_THEME_LIGHT="#f5f5f4"
VITE_THEME_DARK="#1c1917"

# Sentry
VITE_SENTRY_DSN=
